html{
      box-sizing: border-box;
}

*,*::after,*::before{
      box-sizing: inherit;
}

.loader{
      display:flex;
      height: 5rem;
      align-items: center;
      justify-content: center;

}
.loader > div{
      width:50px;
      height: 50px;
      border: 5px solid green;
      border-radius: 50%;
      animation:load 4s linear infinite;
      animation-direction: normal; 
      border-bottom: 5px solid white;
}

@keyframes load{
      from{
            transform:rotate(0deg);

      }
      to{
            transform: rotate(360deg);
      }
}

